pipeline/load_data_from_STG_FACT.json
{
	"name": "load_data_from_STG_FACT",
	"properties": {
		"activities": [
			{
				"name": "Get Job",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[ADF].[proc_etl_get_job]",
						"storedProcedureParameters": {
							"group_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.GROUP_NAME",
									"type": "Expression"
								}
							},
							"group_number": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.GROUP_NUMBER",
									"type": "Expression"
								}
							},
							"p_batch_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.BATCH_ID",
									"type": "Expression"
								}
							},
							"p_job_group": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.JOB_GROUP",
									"type": "Expression"
								}
							},
							"p_job_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.JOB_ID",
									"type": "Expression"
								}
							},
							"p_job_sub_group": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.JOB_SUB_GROUP",
									"type": "Expression"
								}
							},
							"p_order": {
								"type": "String",
								"value": "1"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ETL_JOB",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Job",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Job').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().JOB_SCRIPT",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"p_batch_id": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "linked_service_adventure_work",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"BATCH_ID": {
				"type": "string",
				"defaultValue": "10000"
			},
			"JOB_ID": {
				"type": "string"
			},
			"JOB_SUB_GROUP": {
				"type": "string",
				"defaultValue": "SIL FACT"
			},
			"GROUP_NUMBER": {
				"type": "string"
			},
			"GROUP_NAME": {
				"type": "string"
			},
			"JOB_GROUP": {
				"type": "string"
			}
		},
		"folder": {
			"name": "AdventureWork"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-25T05:10:11Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}