pipeline/pause synapse.json
{
	"name": "pause synapse",
	"properties": {
		"activities": [
			{
				"name": "Get Azure Synapse State",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.subscriptions,'/resourceGroups/',pipeline().parameters.resourceGroups,'/providers/Microsoft.Synapse/workspaces/',pipeline().parameters.servers,'/sqlPools/',pipeline().parameters.databases,'?api-version=2019-06-01-preview')\n",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.core.windows.net/"
					}
				}
			},
			{
				"name": "Wait 5 seconds",
				"type": "Wait",
				"dependsOn": [
					{
						"activity": "Get Azure Synapse State",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"waitTimeInSeconds": 5
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Wait 5 seconds",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@equals(activity('Get Azure Synapse State').output.properties.status,'Online')",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"subscriptions": {
				"type": "string",
				"defaultValue": "dfe10df2-bdb6-4ab7-8985-c92b8f4374d4"
			},
			"resourceGroups": {
				"type": "string",
				"defaultValue": "UNB_WH_PROD"
			},
			"servers": {
				"type": "string",
				"defaultValue": "unbsynapseprod"
			},
			"databases": {
				"type": "string",
				"defaultValue": "dwhprod"
			}
		},
		"folder": {
			"name": "SYNAPSE"
		},
		"annotations": [],
		"lastPublishTime": "2023-05-11T09:10:21Z",
		"lastUpdateUtc": "2022-08-26T02:57:22Z",
		"createTimeUtc": "2022-08-14T11:21:17Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}