pipeline/PLP_DIM.json
{
	"name": "PLP_DIM",
	"properties": {
		"activities": [
			{
				"name": "Get Job",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderStoredProcedureName": "[ADF].[proc_etl_get_job_train]",
						"storedProcedureParameters": {
							"group_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.GROUP_NAME",
									"type": "Expression"
								}
							},
							"group_number": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.GROUP_NUMBER",
									"type": "Expression"
								}
							},
							"p_batch_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.BATCH_ID",
									"type": "Expression"
								}
							},
							"p_job_group": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.JOB_GROUP",
									"type": "Expression"
								}
							},
							"p_job_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.JOB_ID",
									"type": "Expression"
								}
							},
							"p_job_sub_group": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.JOB_SUB_GROUP",
									"type": "Expression"
								}
							},
							"p_order": {
								"type": "String",
								"value": "1"
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "ETL_JOB_TRAIN",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Job",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Job').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Stored procedure1",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "get_start_time",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": {
									"value": "@item().JOB_SCRIPT",
									"type": "Expression"
								},
								"storedProcedureParameters": {
									"p_batch_id": {
										"value": {
											"value": "@pipeline().parameters.BATCH_ID",
											"type": "Expression"
										},
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "adf_AdventureWork",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Stored procedure failed",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "Stored procedure1",
									"dependencyConditions": [
										"Failed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_job_tracking]",
								"storedProcedureParameters": {
									"p_batch_id": {
										"value": {
											"value": "@pipeline().parameters.BATCH_ID",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_duration": {
										"value": null,
										"type": "Decimal"
									},
									"p_end_time": {
										"value": null,
										"type": "DateTime"
									},
									"p_error_message": {
										"value": {
											"value": "@activity('Stored procedure1').output.errors[0].Message",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_job_group": {
										"value": {
											"value": "@item().JOB_GROUP",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_job_id": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_job_name": {
										"value": {
											"value": "@item().JOB_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_job_sub_group": {
										"value": {
											"value": "@item().JOB_SUB_GROUP",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_start_time": {
										"value": {
											"value": "@variables('START')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"p_status": {
										"value": "failed",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "adf_AdventureWork",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Stored procedure success",
							"type": "SqlServerStoredProcedure",
							"dependsOn": [
								{
									"activity": "get_end_time",
									"dependencyConditions": [
										"Completed"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"storedProcedureName": "[ADF].[proc_etl_job_tracking]",
								"storedProcedureParameters": {
									"p_batch_id": {
										"value": {
											"value": "@pipeline().parameters.BATCH_ID",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_duration": {
										"value": null,
										"type": "Decimal"
									},
									"p_end_time": {
										"value": {
											"value": "@variables('END')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"p_error_message": {
										"value": null,
										"type": "String"
									},
									"p_job_group": {
										"value": {
											"value": "@item().JOB_GROUP",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_job_id": {
										"value": {
											"value": "@item().JOB_ID",
											"type": "Expression"
										},
										"type": "Int64"
									},
									"p_job_name": {
										"value": {
											"value": "@item().JOB_NAME",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_job_sub_group": {
										"value": {
											"value": "@item().JOB_SUB_GROUP",
											"type": "Expression"
										},
										"type": "String"
									},
									"p_start_time": {
										"value": {
											"value": "@variables('START')",
											"type": "Expression"
										},
										"type": "DateTime"
									},
									"p_status": {
										"value": "Succeeded",
										"type": "String"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "adf_AdventureWork",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "get_start_time",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "START",
								"value": {
									"value": "@convertTimeZone(utcnow(), 'UTC', 'SE Asia Standard Time')",
									"type": "Expression"
								}
							}
						},
						{
							"name": "get_end_time",
							"type": "SetVariable",
							"dependsOn": [
								{
									"activity": "Stored procedure1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "END",
								"value": {
									"value": "@convertTimeZone(utcnow(), 'UTC', 'SE Asia Standard Time')",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"BATCH_ID": {
				"type": "string"
			},
			"JOB_ID": {
				"type": "string"
			},
			"JOB_SUB_GROUP": {
				"type": "string",
				"defaultValue": "PLP DIM"
			},
			"GROUP_NUMBER": {
				"type": "string"
			},
			"GROUP_NAME": {
				"type": "string"
			},
			"JOB_GROUP": {
				"type": "string",
				"defaultValue": "PLP"
			}
		},
		"variables": {
			"BATCH_ID": {
				"type": "String"
			},
			"START": {
				"type": "String"
			},
			"END": {
				"type": "String"
			}
		},
		"folder": {
			"name": "ADF_AdventureWork_anhle"
		},
		"annotations": [],
		"lastPublishTime": "2023-07-10T08:07:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}