pipeline/ssc_sde.json
{
	"name": "ssc_sde",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "search_job",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('search_job').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "sde",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "triggerFunction",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "JsonSource",
									"additionalColumns": [
										{
											"name": "W_BATCH_ID",
											"value": {
												"value": "@pipeline().parameters.BATCH_ID",
												"type": "Expression"
											}
										},
										{
											"name": "W_DATASOURCE_NAME",
											"value": "SSC"
										},
										{
											"name": "W_INSERT_DATE",
											"value": {
												"value": "@addhours(utcnow(),7)",
												"type": "Expression"
											}
										},
										{
											"name": "W_FILE_PATH",
											"value": "$$FILEPATH"
										}
									],
									"storeSettings": {
										"type": "AzureBlobFSReadSettings",
										"recursive": true,
										"enablePartitionDiscovery": false
									},
									"formatSettings": {
										"type": "JsonReadSettings"
									}
								},
								"sink": {
									"type": "AzureSqlSink",
									"preCopyScript": {
										"value": "IF OBJECT_ID('@{item().TARGET_SCHEMA}.@{item().TARGET_TABLE}') IS NOT NULL\n\tTRUNCATE TABLE @{item().TARGET_SCHEMA}.@{item().TARGET_TABLE}",
										"type": "Expression"
									},
									"writeBehavior": "insert",
									"sqlWriterUseTableLock": false,
									"tableOption": "autoCreate",
									"disableMetricsCollection": false
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DC_Json_File",
									"type": "DatasetReference",
									"parameters": {
										"folder": "ssc/now",
										"file": {
											"value": "ssc_result_@{replace(pipeline().parameters.MONTH, '-', '')}.json",
											"type": "Expression"
										}
									}
								}
							],
							"outputs": [
								{
									"referenceName": "DC_azdcdb",
									"type": "DatasetReference",
									"parameters": {
										"schema": {
											"value": "@item().TARGET_SCHEMA",
											"type": "Expression"
										},
										"table": {
											"value": "@item().TARGET_TABLE",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "triggerFunction",
							"type": "AzureFunctionActivity",
							"dependsOn": [
								{
									"activity": "Delete1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"functionName": "getDataSSCTrigger",
								"method": "POST",
								"body": {
									"value": "{\n    \"month\": \"@{pipeline().parameters.MONTH}\"\n}",
									"type": "Expression"
								}
							},
							"linkedServiceName": {
								"referenceName": "pyAPIVCB",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "Delete1",
							"type": "Delete",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DC_Json_Folder",
									"type": "DatasetReference",
									"parameters": {
										"folder": "ssc/now"
									}
								},
								"enableLogging": false,
								"storeSettings": {
									"type": "AzureBlobFSReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								}
							}
						}
					]
				}
			},
			{
				"name": "search_job",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "AzureSqlSource",
						"sqlReaderStoredProcedureName": "[ADF].[proc_etl_get_job]",
						"storedProcedureParameters": {
							"group_name": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.GROUP_NAME",
									"type": "Expression"
								}
							},
							"group_number": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.GROUP_NUMBER",
									"type": "Expression"
								}
							},
							"p_batch_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.BATCH_ID",
									"type": "Expression"
								}
							},
							"p_job_group": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.JOB_GROUP",
									"type": "Expression"
								}
							},
							"p_job_id": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.JOB_ID",
									"type": "Expression"
								}
							},
							"p_job_sub_group": {
								"type": "String",
								"value": {
									"value": "@pipeline().parameters.JOB_SUB_GROUP",
									"type": "Expression"
								}
							},
							"p_order": {
								"type": "String",
								"value": null
							}
						},
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"dataset": {
						"referenceName": "DC_azdcdb",
						"type": "DatasetReference",
						"parameters": {
							"schema": "1",
							"table": "1"
						}
					},
					"firstRowOnly": false
				}
			}
		],
		"parameters": {
			"BATCH_ID": {
				"type": "string",
				"defaultValue": "1"
			},
			"MONTH": {
				"type": "String",
				"defaultValue": "2023-01"
			},
			"JOB_ID": {
				"type": "String",
				"defaultValue": "ALL"
			},
			"JOB_GROUP": {
				"type": "String",
				"defaultValue": "SSC"
			},
			"JOB_SUB_GROUP": {
				"type": "String",
				"defaultValue": "SDE FACT"
			},
			"GROUP_NUMBER": {
				"type": "String",
				"defaultValue": "01"
			},
			"GROUP_NAME": {
				"type": "String",
				"defaultValue": "DRAGONX"
			}
		},
		"folder": {
			"name": "DC"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-14T07:56:59Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}