pipeline/Start or Stop VM.json
{
	"name": "Start or Stop VM",
	"properties": {
		"activities": [
			{
				"name": "Check status VM",
				"type": "WebActivity",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"url": {
						"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/InstanceView?api-version=2020-12-01')",
						"type": "Expression"
					},
					"method": "GET",
					"authentication": {
						"type": "MSI",
						"resource": "https://management.core.windows.net/"
					}
				}
			},
			{
				"name": "If Condition1",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Check status VM",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@or(and(equals(activity('Check status VM').output.statuses[1].displayStatus,'VM deallocated'), equals(pipeline().parameters.Command,'Start')),and(equals(activity('Check status VM').output.statuses[1].displayStatus,'VM running'), equals(pipeline().parameters.Command,'Deallocate'))) ",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "call Start or Stop",
							"type": "WebActivity",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"url": {
									"value": "@concat('https://management.azure.com/subscriptions/',pipeline().parameters.SubscriptionId,'/resourceGroups/',pipeline().parameters.ResourceGroupName,'/providers/Microsoft.Compute/virtualMachines/',pipeline().parameters.VMName,'/',pipeline().parameters.Command,'?api-version=2020-12-01')",
									"type": "Expression"
								},
								"method": "POST",
								"authentication": {
									"type": "MSI",
									"resource": "https://management.core.windows.net/"
								}
							}
						}
					]
				}
			}
		],
		"parameters": {
			"SubscriptionId": {
				"type": "string",
				"defaultValue": "4800c9c5-3413-438f-8082-71f6dba2cab9"
			},
			"ResourceGroupName": {
				"type": "string",
				"defaultValue": "Training"
			},
			"Region": {
				"type": "string",
				"defaultValue": "Southeast Asia"
			},
			"Command": {
				"type": "string",
				"defaultValue": "Start"
			},
			"VMName": {
				"type": "string",
				"defaultValue": "dcvirtualmachine"
			}
		},
		"variables": {
			"x": {
				"type": "String"
			}
		},
		"folder": {
			"name": "DC/VM"
		},
		"annotations": [],
		"lastPublishTime": "2023-09-06T05:16:58Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}